html,
body {
    margin: 0;
    padding: 0;
    background-color: #2E2E2F;
    color: azure;
}

.image {
    height: 300px;
    width: 100%;
    background-image: url(image/THJJRUhNlEc.png);
    background-size: contain;
}

nav a{
    text-decoration: none;
    color: azure;
}

nav a:visited {
    color: azure;
}

nav a:hover {
    color: #cfcaca;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.main-container {
    width: 850px;
    margin: 0 auto;
    padding: 20px;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.search-input,
.search-btn {
    border-radius: 0;
    border: 0;
}

.search-input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 20px;
    padding-left: 35px;
    width: 700px;
    background-color: #4B4B4B;
    color: azure;
    font-weight: 500;
    font-size: larger;
}

.search-btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px;
    width: 150px;
    background-color: #7b7a7a;
    color: azure;
    font-weight: 500;
    font-size: larger;
    cursor: pointer;
}

.search-bar {
    position: relative;
}

.fa-solid {
    position: absolute;
    filter: invert(0.2);
    top: 40%;
    padding-left: 10px;
}

.empty-state {
    display: flex;
    align-items: center;
    justify-content: center;  
    padding-top: 150px;
}

.placeholder {
    background-image: url(image/empty.png);
    background-repeat: no-repeat;
    filter: invert(0.3);
    height: 93px;
    width: 150px;
}

.errorMessage {
    font-size: larger;
    font-weight: 700;
    align-items: center;
    text-align: center;
    filter: invert(0.4);
    width: 40%;
    margin: 0 auto;
}

.movie-container {
    width: 100%;
}

.movie-card {
    display: flex;
}

.movie-poster {
    width: 150px;
    height: 200px;
}

.movie-info {
    padding-left: 20px;
}

.movie-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-metadata {
    display: flex;
    gap: 20px;
}

hr {
    border: 0;
    border-top: 1px solid #9b9d9f;
    width: 100%;
    margin: 20px 0;
}

.watchlist-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    background: transparent;
    border: none;
    font-family: inherit;
    color: azure;
}

.plus-icon {
    width: 16px;
    height: 16px;
}

.empty-watchlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.watchlist-link {
    color: azure;
    font-weight: 800;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}